* {
    box-sizing: border-box;
  }

/* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: ghostwhite;
    color: black;
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: ghostwhite;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /*Search H3 */
  .search {
      font-size: 16px;
      margin-left: 10px;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 5px;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
    border: 1px solid ghostwhite;
    float: left;
    width: 80%;
    background: white;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style page content */
  .main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  .summary {
      margin: 10px;
      padding: 20px 10px 20px 10px;
      border: 1px solid ghostwhite;
  }
  
  /* Reformat for Screen Sizes */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }